<!doctype html>

<!-- PÁGINA EM PORTUGUÊS -->
{% if lang == "pt" %}
<title>A ciência por trás</title>
<h1>Neutrinos e NOvA</h1>
<h2>Neutrinos</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat tortor sit amet placerat viverra. Mauris ac diam vitae nulla.</p>

<h2>NOvA</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat tortor sit amet placerat viverra. Mauris ac diam vitae nulla.</p>

<!-- PÁGINA EM INGLÊS -->
{% else %}
<title>The science behind</title>
<h1>Neutrinos and NOvA</h1>
<h2>Neutrinos</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat tortor sit amet placerat viverra. Mauris ac diam vitae nulla.</p>

<h2>NOvA</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat tortor sit amet placerat viverra. Mauris ac diam vitae nulla.</p>

{% endif %}

